menu "WiFi Configuration"

    config WIFI_SSID
        string "WiFi SSID"
        help
        SSID (network name) of the WiFi network to connect to.

    config WIFI_PASSWORD
        string "WiFi Password"
        help
        Password of the WiFi network to connect to.

endmenu